.Rproj.user
.Rhistory
.RData
.DS_Store
.Rprofile

# Ignore raw data
100_data_raw/*

/.quarto/

# ignore renv files
renv/

# ignore freeze cache
_freeze

200_data_clean/
*files*
*cache*

VennDiagram.2022-05-12_15-21-07.log
